.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #3d3c3c;
  border-radius: 10px;
  color: red;
  text-align: center;
  font-size: 16px;

  background: #1e1e1e;
  width: 25rem;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.form img {
  align-self: center;
  width: 150px;
  height: 150px;
}

.form h1 {
  font-size: 20px;
  color: white;
}

.form input {
  height: 1rem;
  outline: none;
  border: 2px solid orange;
  background: transparent;
  padding: 20px 10px;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  font-size: 20px;
  border-color: #ccc;
}

.form input:focus {
  /* background: orange; */
  border-color: #4b3f72;
}

.form button {
  width: 100%;
  color: white;
  transition: 0.5s;
  font-size: 20px;
  outline: none;
  border: none;
  height: 3rem;
  border-radius: 5px;
  background: #4b3f72;
  align-self: flex-end;
}
